<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout charset="UTF-8">
        pattern="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} – %msg%n"
      </PatternLayout>
    </Console>
    <File name="FileAppender" fileName="${env:PHOTO_MANAGER_HOME}/logs/app.log">
      <PatternLayout charset="UTF-8">
        pattern="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} – %msg%n"
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Root level="WARN">
      <AppenderRef ref="ConsoleAppender"/>
      <AppenderRef ref="FileAppender"/>
    </Root>
    <logger name="com.yk.tools.pm" level="INFO" additivity="false">
      <AppenderRef ref="ConsoleAppender"/>
      <AppenderRef ref="FileAppender"/>
    </logger>
  </Loggers>
</Configuration>